doctype 5
html
  head
    title= title
    link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/js/rx.js")
    script(type="text/javascript", src="/js/rx.time.js")
    script(type="text/javascript", src="/js/input.js")
    script(type="text/javascript", src="/js/template.js")
    template(id="template-search-result")
      li(class="pure-u-1 l-centered")
        div(class="l-box sr")
          h2(class="name")
          div(class="status")
            i(class="fa fa-star pure-u-1-4")
            i(class="fa fa-github pure-u-1-4")
            i(class="fa fa-users pure-u-1-4")
            i(class="fa test-result pure-u-1-4")
          
  body(class="pure-g-r")
    form(class="pure-form pure-u-1")
      input(type="search", name="search", class="pure-input-rounded l-centered", placeholder="find a npm")
    ol(name="results", class="pure-u-1")
    script(type="text/javascript", src="/js/main.js")
