doctype 5
html
  head
    title= title
    link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/js/rx.js")
    script(type="text/javascript", src="/js/rx.time.js")
    script(type="text/javascript", src="/js/input.js")
    script(type="text/javascript", src="/js/template.js")
    template(id="template-search-result")
      li(class="pure-u-1 l-centered")
        a(href="#", class="l-box sr")
          h2(class="name")
          i(class="fa fa-star pure-u-1-3", alt="github stargazers")
          i(class="fa fa-github pure-u-1-3", alt="author github id")
          i(class="fa fa-users pure-u-1-3", alt="github followers")
          i(class="fa fa-certificate pure-u-1-3", alt="score")
          i(class="fa fa-heart pure-u-1-3", alt="npm package dependents")
          i(class="fa test-result pure-u-1-3", alt="travis ci lastest testing result")
          
  body(class="pure-g-r")
    form(class="pure-form pure-u-1")
      input(type="search", name="search", class="pure-input-rounded l-centered", placeholder="find a npm")
    iframe(src="http://nodeknockout.com/iframe/go-taiwanese",frameborder=0,scrolling=no,allowtransparency=true,width=115,height=25)
    ol(name="results", class="pure-u-1")
    script(type="text/javascript", src="/js/main.js")
